{{#users}}

  <img src="{{avatar_url}}" alt="" class="avatar">
  <h4>
    <a href="https://soundcloud.com/{{permalink_url}}/">
      {{#full_name}}{{full_name}}{{/full_name}}
      {{^full_name}}{{username}}{{/full_name}}
    </a>
  </h4>
  {{#city}}<p>{{city}}</p>{{/city}}
  <p>{{track_count}} tracks</p>
  <nav>
    <a href="https://soundcloud.com/{{permalink_url}}/">stream</a>
    <a href="https://soundcloud.com/{{permalink_url}}/sets/">playlists</a>
    <a href="https://soundcloud.com/{{permalink_url}}/likes/">favorites</a>
  </nav>

  <b>{{username}}</b>

{{/users}}
