.home-text {
  position: relative;
  z-index: 2;
  padding: 0 1rem;
}

.username-form {
  margin-right: auto;
  margin-left: auto;
  padding: 0 1rem 2rem 1rem;
  max-width: 30rem;
  width: 100%;
  position: relative;
  z-index: 1;
}

.username-search {
  width: 100%;
  box-sizing: border-box;
  padding: .5rem .5rem .5rem 50px;
  box-sizing: border-box;
  margin-top: 1rem;
  font-family: $font-stack;
  letter-spacing: .05em;
  font-weight: 300;
  border-radius: 2rem;
  background: url('search.svg') 20px center no-repeat white;
  outline: none;
  border: none;
  position: relative;
  display: block;
  @include placeholder() {
    color: $shadow;
    opacity: .4;
  }
}

// Shapes
.shapes {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  overflow: hidden;
}

.shape {
  display: block;
  position: absolute;
  background: url('triangle-green.svg') center no-repeat transparent;
  width: 12vw;
  height: 12vh;
  background-size: contain;
}

.circle {
  width: 13vw;
  height: 13vh;
}

.triangle-green {
  background-image: url('triangle-green.svg');
  top: 2vh;
  right: 40vw;
}

.triangle-yellow {
  background-image: url('triangle-yellow.svg');
  bottom: -5vh;
  right: 21vw;
}

.triangle-red {
  background-image: url('triangle-red.svg');
}

.triangle-blue {
  background-image: url('triangle-blue.svg');
  top: 40vh;
  left: 15vw;
}

.circle-green {
  background-image: url('circle-green.svg');
  left: 20vw;
  bottom: 5vh;
}

.circle-yellow {
  background-image: url('circle-yellow.svg');
  top: 12vh;
  right: 14vw;
}

.circle-red {
  background-image: url('circle-red.svg');
}

.circle-blue {
  background-image: url('circle-blue.svg');
}

.squiggle-green {
  background-image: url('squiggle-green.svg');
  right: -4vw;
  top: 40vh;
}

.squiggle-yellow {
  background-image: url('squiggle-yellow.svg');
  left: 2vw;
  top: 10vh;
}

.squiggle-red {
  background-image: url('squiggle-red.svg');
  bottom: 18vh;
  left: 49vw;
}

.squiggle-blue {
  background-image: url('squiggle-blue.svg');
}

.square-green {
  background-image: url('square-green.svg');
}

.square-yellow {
  background-image: url('square-yellow.svg');
  bottom: 15vh;
  left: -2vw;
}

.square-red {
  background-image: url('square-red.svg');
  left: 26vw;
  top: 8vh;
}

.square-blue {
  background-image: url('square-blue.svg');
  bottom: 25vh;
  right: 8vw;
}

@media screen and (max-height: 480px) {
  .square-red {

  }
}