
.main-user {
  padding: 7rem 0 4rem 0;
  position: relative;
}

.main-user-text {
  margin-bottom: 1rem;
}

@media screen and  (max-width: 480px) {
  .main-user-text {
    margin: 2rem;
  }
}

.stat-icon {
  display: inline-block;
  margin-right: 1.5rem;
  padding-left: 1.25rem;
  background: url('play.svg') no-repeat left center transparent;
  opacity: .8;
}

.stat-icon-favorites { background-image: url('likes.svg') }
.stat-icon-followers { background-image: url('followers.svg') }
.stat-icon-tracks    { background-image: url('tracks.svg') }

.btn {
  padding: 0.85rem 0.8rem 0.75rem 0.85rem;
  border: 3px solid $blue;
  border-radius: 2rem;
  color: $blue;
  font-size: .875rem;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1), inset 3px 3px 0 rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0);
  transition: all 200ms linear;
}

.btn:hover {
  background-color: $blue;
  color: $white;
  box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.1), inset 6px 6px 0 rgba(0, 0, 0, 0);
}

.main-user-img {
  width: 250px;
  height: 250px;
  margin-right: 2rem;
  border-radius: 50%;
}

@media screen and (max-width: 960px) {
  .main-user-img {
    width: 200px;
    height: 200px;
  }
}

.user-wrap {
  background: url('user-bg.svg') no-repeat top center $gray;
  background-size: cover;
}

.user {
  width: 25vw;
  height: 25vw;
  position: relative;
  float: left;
  margin: 0 0 -1px 0;
  background-color: $darker-blue;
  box-sizing: border-box;
  padding: 15vw 3vw 3vw 3vw;
  color: rgba(255,255,255,.85);
}

.user-avatar {
  @include prefixer(filter, grayscale(100%), webkit moz spec);
  position: absolute;
  background-repeat: none;
  background-color: transparent;
  background-size: cover;
  opacity: .5;
  top: 0;
  right: -1px;
  bottom: 0;
  left: 0;
  @include transition(all 150ms ease-out);
  pointer-events: none;
}

.user-text {
  z-index: 2;
  position: relative;
  opacity: .7;
}

.user:hover {
  .user-avatar {
    opacity: .7;
    @include prefixer(filter, grayscale(0%), webkit moz spec);
  }
  .user-text {
    opacity: 1;
  }
}

@media screen and (max-width: 900px) {
  .user {
    width: 33.333vw;
    height: 33.333vw;
  }
}

@media screen and (max-width: 680px) {
  .user {
    width: 50vw;
    height: 50vw;
  }
}

