
.user-wrap {
  background-color: rgba(33, 47, 75, 1);
}

.user {
  width: 25vw;
  height: 25vw;
  position: relative;
  float: left;
  margin: 0;
  background-color: $darker-blue;
  box-sizing: border-box;
  padding: 15vw 3vw 3vw 3vw;
  color: rgba(255,255,255,.85);
}

.user-avatar {
  @include prefixer(filter, grayscale(100%), webkit moz spec);
  position: absolute;
  background-repeat: none;
  background-color: transparent;
  background-size: cover;
  opacity: .3;
  top: 0;
  right: -1px;
  bottom: 0;
  left: 0;
  @include transition(all 150ms ease-out);
  pointer-events: none;
}

.user-text {
  z-index: 2;
  position: relative;
  opacity: .5;
}

.user:hover {
  .user-avatar {
    opacity: .7;
    @include prefixer(filter, grayscale(0%), webkit moz spec);
  }
  .user-text {
    opacity: 1;
  }
}

