$transition-time: 600ms;
$easing-function: cubic-bezier(0.925, 0.000, 0.105, 1.005);
$transition: transform $transition-time $easing-function, opacity $transition-time $easing-function, visibility 0ms $easing-function $transition-time;

.move-in {
  position: relative;
  visibility: visible;
  opacity: 1;
  z-index: 2;
  @include transform(translate3d(0,0,0));
  @include transition-prefixed($transition);
  @include transition-delay(0ms);
}

.move-out-left, .move-out-right {
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
}

.move-out-left {
  @include transform(translate3d(-400px, 0, 0));
  @include transition-prefixed($transition);
}

.move-out-right {
  @include transform(translate3d(400px, 0, 0));
  @include transition-prefixed($transition);
}

.fade-in {
  opacity: 0;
  @include animation(fade-in ease-in 1);
  @include animation-fill-mode(forwards);
  @include animation-duration(.75s);
}

@for $n from 1 through 28 {
  $delay: ($n * .1) + .75;
  .fade-in:nth-child(#{$n}) { @include animation-delay($delay * 1s); }
}

@include keyframes (fade-in) {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
