$font-stack: 'Proxima Nova Soft', 'Proxima Nova', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

@font-face {
  font-family: 'Proxima Nova Soft';
  font-weight: 400;
  font-style: normal;
  src: url('/304550_0_0.eot');
  src: url('/304550_0_0.eot?#iefix') format('embedded-opentype'),
       url('/304550_0_0.woff2') format('woff2'),
       url('/304550_0_0.woff') format('woff'),
       url('/304550_0_0.ttf') format('truetype');
}

body, html {
  margin: 0;
  font-family: $font-stack;
  color: $white;
  background: $gray;
  overflow-x: hidden;
  letter-spacing: .1em;
  font-size: 18px;
}

h1, h2, h3, h4, h5, p {
  margin: 0 0 .5em 0;
  font-weight: 400;
}

h1 {font-size: 3rem;}
h2 {font-size: 2.5rem;}
h3 {font-size: 2rem;}

a {
  text-decoration: none;
  cursor: pointer;
  color: white;
  &:focus {
    outline: none;
  }
}