$font-stack: 'Proxima Nova Soft';

body, html {
  margin: 0;
  font-family: $font-stack;
  color: $white;
  background: $gray;
  overflow-x: hidden;
  letter-spacing: .1em;
  font-size: 18px;
}

h1, h2, h3, h4, h5, p {
  margin: 0 0 .5em 0;
  font-weight: 400;
}

h1 {font-size: 3rem;}
h2 {font-size: 2.5rem;}
h3 {font-size: 2rem;}

a {
  text-decoration: none;
  cursor: pointer;
  color: white;
  &:focus {
    outline: none;
  }
}