$fallbacks: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$light: 'HelveticaNeue-Light', 'Helvetica Neue Light', $fallbacks;
$normal: 'HelveticaNeue', 'Helvetica Neue', $fallbacks;
$bold: 'HelveticaNeue-Bold', 'Helvetica Neue Bold', $fallbacks;

@mixin bold() {
  font-weight: 600;
  font-family: $bold;
}

@mixin light() {
  font-weight: 200;
  font-family: $light;
}

body, html {
  margin: 0;
}

h1, h2, h3, h4, h5, p {
  margin: 0 0 .5em 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}