
// .container {
//   width: 100%;
//   box-sizing: border-box;
//   margin: 0;
//   padding-left: 3vw;
//   padding-right: 3vw;
//   position: relative;
//   z-index: 2;
// }

// Text helpers
.text-center { text-align: center; }
.text-large  { font-size: 1.5em; }
.text-yellow { color: $yellow; }
.text-green  { color: $teal; }
.text-blue   { color: $blue; }
.text-red    { color: $red; }

.big-text {
  margin: 40vh 0 0 0;
  color: white;
  font-size: 6vw;
  background: transparent;
  z-index: 2;
  small, .small {
    opacity: .8;
    font-size: 2vw;
    margin: 0;
  }
}

.bg-gray {
  background-color: $gray;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  @include transition(visibility 0ms linear 200ms, opacity 300ms linear);
  &.show {
    visibility: visible;
    opacity: 1;
    @include transition-delay(0ms);
  }
}

.right { float: right; }
.hide { display: none; }
.block { display: block; }
.ilb { display: inline-block; }

.leader-half { margin-top: 5vh; }
.leader-1    { margin-top: 10vh; }
.leader-2    { margin-top: 20vh; }
.leader-3    { margin-top: 30vh; }

.container {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding-left: 3vw;
  padding-right: 3vw;
  position: relative;
  z-index: 2;
}

.fullscreen {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
}