
// .container {
//   width: 100%;
//   box-sizing: border-box;
//   margin: 0;
//   padding-left: 3vw;
//   padding-right: 3vw;
//   position: relative;
//   z-index: 2;
// }

// Text helpers
.text-center { text-align: center; }
.text-large  { font-size: 1.5em; }
.text-small  { font-size: .875em; }
.text-yellow { color: $yellow; }
.text-green  { color: $teal; }
.text-blue   { color: $blue; }
.text-red    { color: $red; }


.big-text {
  margin: 40vh 0 0 0;
  color: white;
  font-size: 6vw;
  background: transparent;
  z-index: 2;
  small, .small {
    opacity: .8;
    font-size: 2vw;
    margin: 0;
  }
}

@media screen and (max-width: 680px) {
  .big-text {
    font-size: 3rem;
    small, .small {
      font-size: 2rem;
    }
  }
}

.bg-gray {
  background-color: $gray;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  @include transition(visibility 0ms linear 200ms, opacity 300ms linear);
  &.show {
    visibility: visible;
    opacity: 1;
    @include transition-delay(0ms);
  }
}

.right { float: right; }
.hide { display: none; }
.block { display: block; }
.ilb { display: inline-block; }


.leader-1    { margin-top: 1rem; }
.trailer-2   { margin-bottom: 2rem; }

.container {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding-left: 3vw;
  padding-right: 3vw;
  position: relative;
  z-index: 2;
}

.container:after {
  content: "";
  display: table;
  clear: both;
}

.flex {
  display: flex;
  align-items: center;
}

@media screen and  (max-width: 480px) {
  .flex {
    flex-direction: column;
  }
}

.flex-1 {
  flex: 1 1 auto;
}

.flex-column {
  flex-direction: column;
}

.flex-align-center {
  justify-content: center;
}

.fullscreen {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
}