@import 'scss-utils/scss-utils';
@import 'type';
@import 'colors';

$font-reset: $light;
@import 'inline-block-grid/grid';

@import 'transitions';
@import 'users';


body {
  margin: 0;
  padding: 0;
  font-family: $light;
  background-color: $blue;
  overflow-x: hidden;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    background: url(desk-b&w.jpg) no-repeat center center $blue;
    opacity: .1;
    background-size: cover;
  }
}

.container {
  width: 100%;
  @include box-sizing(border-box);
  margin: 0;
  padding-left: 3vw;
  padding-right: 3vw;
  position: relative;
  z-index: 2;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  @include transition(visibility 0ms linear 200ms, opacity 300ms linear);
  &.show {
    visibility: visible;
    opacity: 1;
    @include transition-delay(0ms);
  }
}

.right {
  float: right;
}

.ilb {
  display: inline-block;
}

.leader-1 { margin-top: 10vh; }
.leader-2 { margin-top: 20vh; }
.leader-3 { margin-top: 30vh; }

.fullscreen {
  width: 100%;
  height: 100vh;
  position: absolute;
}

.title {
  margin: 0;
  padding-top: 5vh;
  @include bold();
  font-size: .9rem;
  letter-spacing: 0.1em;
  color: #ffffff;
  opacity: .8;
  text-decoration: none;
}

.big-text {
  margin-top: 40vh;
  color: white;
  font-size: 7vw;
  background: transparent;
  z-index: 2;
  opacity: .9;
}

.username-search {
  position: relative;
  display: block;
  @include box-sizing(border-box);
  width: 100%;
  padding: .75rem 0;
  outline: none;
  @include bold();
  border: none;
  @include placeholder() {
    color: white;
    opacity: .4;
  }
}

.info {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  opacity: 0;
  visibility: hidden;
  @include transition(visibility 0ms linear 200ms, opacity 200ms linear);
  z-index: 1001;
  &.is-active {
    visibility: visible;
    opacity: 1;
  }
}

.loader-canvas {
  margin-left:-5vw;
  width: 110vw;
  height: 100vh;
  position: fixed;
}

.loading-message {
  pointer-events: none;
}

.navigation {
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 1;
}

#visualizer {
  -webkit-filter: url("#goo-no-comp");
          filter: url("../index.html#goo-no-comp");
}
